/.cache
/.work
/_output
cover.out
/vendor
/.vendor-new
.DS_Store
*.log
# ignore IDE folders
.vscode/
.idea/
#ignore goenv version fileß
.go-version
#ignore dev.env
dev.env
#ignore secrets.env
secrets.env
*~
/test/e2e/logs/
# Environment files with secrets
.env
test/**/.env
test/upgrade/.env

# Upgrade Test artifacts
test-upgrade-output.log
test/upgrade/logs/

