/.cache
/.work
/_output
cover.out
/vendor
/.vendor-new
.DS_Store
*.log
# ignore IDE folders
.vscode/
.idea/
#ignore goenv version fileß
.go-version
#ignore dev.env
dev.env
#ignore secrets.env
secrets.env
*~
/test/e2e/logs/
test/upgrade/logs/
test/upgrade/env.txt
test/upgrade/upgrade.test
/internal/exporttool/examples/configparams/config.yaml
/internal/exporttool/examples/exportresource/output.yaml
