apiVersion: v1
kind: Secret
metadata:
  name: cf-credentials-secret
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "user": "technical-super-user-cf-demo",
      "email": "technical-super-user-cf-demo@example.com",
      "password": "superSecretPassword!@#"
    }
